#page {
    padding-top: 60px;
}

.main_div{  
    position:relative;  
    float:center;  
    width:96%;  
    margin-left: 2%;
}  

.column1_div{  
    position:relative;  
    float:left;  
    width:80%;  
    margin-right:30px;  
}  
.column2_div{  
    position:relative;  
    float:left;  
    width:15%;  
}  

.boardHome_div{  
        background-image: url("http://www.environmentalportal.udel.edu/sites/udel.edu.environmentalportal/themes/enviro-theme/images/bg-top3.jpg");
        padding-top: 4%;
        background-size: cover;
        background-repeat: no-repeat;
        text-align: center;
}  


.bgLoginPage_div{  
        background-image: url("http://3.bp.blogspot.com/-Cs-ud3Fctuk/UVo-XUyuGVI/AAAAAAAAI0E/UU9GaNAueSI/s1600/ComputerDesktopWallpapersCollection628_00020.jpg");
        padding-bottom: 16%;
        padding-top: 5%;
        background-size: cover;
        background-repeat: no-repeat;
}  

.headLoginPage_div{  
    position:relative;  
    float:center;  
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    padding:center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #2ecc71;
    opacity: 0.95;
}

.mainLoginPage_div{  
    position:relative;  
    float:center;  
    margin-left: 35%;
    margin-right: 35%;
    text-align: center;
    padding:center;
    padding-top: 20px;
    background-color: #ecf0f1;
    opacity: 0.95;

}  


/* register css*/



.mainRegisterPage_div{
    position:relative;  
    float:center;  
    width:96%;  
    margin-left: 2%;
    background-color: #ecf0f1;
}

.head_RegisterPage{  
    position:relative;  
    float:center;  
    padding-left: 130px;
    padding:center;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #3498db;
    opacity: 0.95;

}

.column1_RegisterPage{  
    position:relative;  
    float:left;  
    padding-left: 50px;
}  
.column2_RegisterPage{  
    position:relative;  
    float:left;  
    width:40%;  
    padding-left: 30px;
}  

.column1_editProfile{  
    position:relative;  
    float:left;  
    width:30%;  
    margin-left:50px;  
}  
.column2_editProfile{  
    position:relative;  
    float:left;  
    width:40%;  
    border-left: solid;
    padding-left: 50px;
}  

.mainPurchasedList_div{  
    position:relative;  
    float:center;  
    width:80%;  
    margin-left: 10%;
}  
/*    --------------------------------------------------
    :: Login Section
    -------------------------------------------------- */
#login {
    padding-top: 50px
}
#login .form-wrap {
    width: 30%;
    margin: 0 auto;
}
#login h1 {
    color: #1fa67b;
    font-size: 18px;
    text-align: center;
    font-weight: bold;
    padding-bottom: 20px;
}
#login .form-group {
    margin-bottom: 25px;
}
#login .checkbox {
    margin-bottom: 20px;
    position: relative;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
#login .checkbox.show:before {
    content: '\e013';
    color: #1fa67b;
    font-size: 17px;
    margin: 1px 0 0 3px;
    position: absolute;
    pointer-events: none;
    font-family: 'Glyphicons Halflings';
}
#login .checkbox .character-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid #ccc;
    vertical-align: middle;
    display: inline-block;
}
#login .checkbox .label {
    color: #6d6d6d;
    font-size: 13px;
    font-weight: normal;
}
#login .btn.btn-custom {
    font-size: 14px;
    margin-bottom: 20px;
}
#login .forget {
    font-size: 13px;
    text-align: center;
    display: block;
}

/*    --------------------------------------------------
    :: Inputs & Buttons
    -------------------------------------------------- */
.form-control {
    color: #212121;
}
.btn-custom {
    color: #fff;
    background-color: #1fa67b;
}
.btn-custom:hover,
.btn-custom:focus {
    color: #fff;
}

/*    --------------------------------------------------
    :: Footer
    -------------------------------------------------- */
#footer {
    color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
#footer p {
    margin-bottom: 0;
}
#footer a {
    color: inherit;
}

#addPostHead{
    margin-left: 150px;
    padding-left: 360px;
    padding-right: 360px;
    margin-top: 10px;
    background-color: #ecf0f1;
    position: absolute;
    border-radius: 200px;
    border: 4px solid #34495e;
    //font-family: cursive;
    text-align: center;
    color: #2c3e50;
}

#addPostBody{
    border-radius:0px 0px 30px 30px;
    padding-top:40px;
    background-repeat: no-repeat;
    margin-left:190px;
    background-color: #ecf0f1;
}





/*
    
*/
